@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-modal-background: white;
$primary-color-text: #2d3277;

.modal-box {
  background-color: $primary-modal-background;
}

.navbar_logo {
  color: transparent;
  width: 118px !important;
  padding-left: 43px !important;
}

.modal_buttons {
  width: 100%;
}

.logo {
  width: 70px !important;
  margin: auto;
  padding-bottom: 12px;
}

.title {
  color: $primary-color-text;
}
